#Wild config: FunTime
#Sat Aug 01 00:53:17 MSK 2026
\#meta.author=fr1zy1337
\#meta.created=1785534797443
\#meta.loaded=0
ahhelper=true
ahhelper\#bind=0
ahhelper\#bindmode=TOGGLE
ahhelper.поиск\ предмета\ в\ руке=88
ahhelper.показ\ самых\ дешёвых\ предметов=true
aimhelper=true
aimhelper\#bind=0
aimhelper\#bindmode=TOGGLE
aimhelper.дальность=40.0
aimhelper.маркер=Маркер цели\=true,Точка упреждения\=true,Просвечивать\=true
aimhelper.оружие=Трезубец\=true,Арбалет\=true
aimhelper.проверки=Только при готовности\=true,Учитывать своё движение\=true,Наводиться сквозь блоки\=false
aimhelper.ротация=Тихая
aimhelper.скорость\ наводки=60.0
aimhelper.стиль\ маркера=Скобки
aimhelper.точка\ прицеливания=Центр
aimhelper.угол\ обзора=60.0
aimhelper.упреждение=1.0
aimhelper.цели=Игроки\=true,Мобы\=false,Животные\=false
airstuck=false
airstuck\#bind=0
airstuck\#bindmode=TOGGLE
airstuck.режим=Vanila
ancientxray=false
ancientxray\#bind=0
ancientxray\#bindmode=TOGGLE
antibot=false
antibot\#bind=0
antibot\#bindmode=TOGGLE
antibot.режим\:\ =ALL
autoaccept=true
autoaccept\#bind=0
autoaccept\#bindmode=TOGGLE
autoaccept.принимать=Запрос на ТП\=true,Запрос в клан\=true
autoaccept.принимать\ запрос\ в\ клан\ только\ от\ друзей=true
autoaccept.принимать\ тп\ от=Друзей
autoauth=true
autoauth\#bind=0
autoauth\#bindmode=TOGGLE
autoauth.пароль=
autoauth.режим=Рандомный
autoduel=false
autoduel\#bind=0
autoduel\#bindmode=TOGGLE
autoduel.наборы\:\ =Щиты\=false,Шипы 3\=false,Лук\=false,Тотемы\=false,НоДебафф\=false,Шары\=true,Классик\=false,Читерский рай\=false,Без эндер-жемчуга\=false
autoeat=false
autoeat\#bind=0
autoeat\#bindmode=TOGGLE
autoeat.значение\ голода=10.0
autofish=false
autofish\#bind=0
autofish\#bindmode=TOGGLE
autopotion=false
autopotion\#bind=0
autopotion\#bindmode=TOGGLE
autopotion.кидать\ смотря\ вниз=false
autopotion.только\ в\ pvp=false
autopotion.что\ бафать=Сила\=false,Скорость\=false,Огнестойкость\=false
autosprint=true
autosprint\#bind=0
autosprint\#bindmode=TOGGLE
autoswap=true
autoswap\#bind=0
autoswap\#bindmode=TOGGLE
autoswap.второй\ предмет=Золотое яблоко
autoswap.кнопка=342
autoswap.первый\ предмет=Тотем
autoswap.режим=Обычный
autoswap.только\ зачарованные\ тотемы=true
autotool=false
autotool\#bind=0
autotool\#bindmode=TOGGLE
autotool.режим=Инвентарь
autototem=true
autototem\#bind=0
autototem\#bindmode=TOGGLE
autototem.дистанция\ до\ динамита=30.0
autototem.дистанция\ до\ кристалла=4.0
autototem.здоровье=4.0
autototem.здоровье\ на\ элитре=9.0
autototem.настройки=Здоровье с элитрами\=true,Динамит\=true,Падение\=false,Эндер-кристалл\=false,Не свапать если в КД\=false,Сохрянять талисманы\=true
autototem.не\ свапать\ если\ шар=false
autotreecutter=false
autotreecutter\#bind=0
autotreecutter\#bindmode=TOGGLE
autotreecutter.авто-топор=true
autotreecutter.пауза\ поиска\ (мс)=200.0
autotreecutter.радиус\ поиска=8.0
autotreecutter.скорость\ поворота=180.0
capes=true
capes\#bind=0
capes\#bindmode=TOGGLE
chathelper=true
chathelper\#bind=0
chathelper\#bindmode=TOGGLE
chathelper.настройки\ чата=Антиспам чат\=true,Сохранять чат\=true,Улучшенные команды\=true,Расширенный просмотр чата\=true
clickpearl=true
clickpearl\#bind=0
clickpearl\#bindmode=TOGGLE
clickpearl.кнопка\ жемчуга=-102
clienthelper=true
clienthelper\#bind=0
clienthelper\#bindmode=TOGGLE
clienthelper.бинд\ назначен=bind
clienthelper.включение\ модуля=enable
clienthelper.возможности=Звуки клиента\=true,Уведомления в телеграм\=false
clienthelper.выбор\ режима=mode
clienthelper.выбор\ сэмплов=true
clienthelper.выключение\ модуля=disable
clienthelper.галочка\ включена=enablecb
clienthelper.галочка\ выключена=disablecb
clienthelper.громкость\ звуков=55.0
clienthelper.друг\ добавлен=addfriend
clienthelper.друг\ удалён=removefriend
clienthelper.загрузка\ конфига=cfgload
clienthelper.закрытие\ меню=disable
clienthelper.играть\ в\ фоне=false
clienthelper.команда\ выполнена=usecommand
clienthelper.набор\ в\ поиске=searchtyping
clienthelper.неизвестная\ команда=unknowncommand
clienthelper.ожидание\ клавиши=waitingforbind
clienthelper.озвучивать=Меню\=true,Модули\=true,Настройки\=true,Поиск\=true,Бинды\=false,Конфиги\=false,Аккаунты\=false,Команды\=false
clienthelper.открытие\ меню=enable
clienthelper.папка\ своих\ звуков=
clienthelper.пауза\ между\ звуками,\ мс=45.0
clienthelper.переключение\ категории=switchcategory
clienthelper.ползунок=slider
clienthelper.проверить\ связь=
clienthelper.раскрытие\ настроек=openmodescreen
clienthelper.раскрытие\ списка=openselectsettings
clienthelper.сворачивание\ настроек=closemodescreen
clienthelper.сворачивание\ списка=closeselectsettings
clienthelper.смена\ аккаунта=accountswitch
clienthelper.события\ телеграма=Выход с сервера\=true,Смерть\=true
clienthelper.тихие\ уведомления=false
clienthelper.уведомление=saydescaction
clienthelper.указывать\ сервер=true
clienthelper.успешное\ действие=successfully
clienthelper.фокус\ поиска=Выкл
cubetest=false
cubetest\#bind=0
cubetest\#bindmode=TOGGLE
cubetest.заливка=true
cubetest.контур=true
cubetest.сквозь\ стены=true
cubetest.толщина\ линии=2.0
dragonfly=false
dragonfly\#bind=0
dragonfly\#bindmode=TOGGLE
dragonfly.значение\ по\ x=10.0
dragonfly.значение\ по\ y=10.0
editorskin=false
editorskin\#bind=0
editorskin\#bindmode=TOGGLE
editorskin.блюр\ под\ фоном=1.0
editorskin.масштаб\ окна=1.0
editorskin.масштаб\ шрифта=1.0
editorskin.номера\ строк=true
editorskin.прозрачность=1.0
editorskin.скругление=12.0
editorskin.фон\ (файл\ из\ scripts/images)=
editorskin.яркость\ фона=0.35
fakeplayer=false
fakeplayer\#bind=0
fakeplayer\#bindmode=TOGGLE
fakeplayer.броня=Копировать
fakeplayer.снятие\ тотемов=true
freecamera=false
freecamera\#bind=0
freecamera\#bindmode=TOGGLE
freecamera.отменять\ пакет=false
freecamera.скорость=2.0
freelock=true
freelock\#bind=0
freelock\#bindmode=TOGGLE
freelock.бинд=67
freelock.режим=По удержанию
fullbright=true
fullbright\#bind=0
fullbright\#bindmode=TOGGLE
fullbright.кривая=1.4
fullbright.порог=0.53
fullbright.радиус=10.0
fullbright.тип=Факел
handshader=true
handshader\#bind=0
handshader\#bindmode=TOGGLE
handshader.ветер=1.0
handshader.длина=0.55
handshader.дым=0.8
handshader.затухание\ руки=0.9
handshader.затухание\ следа=0.84
handshader.интенсивность=0.85
handshader.мягкость\ руки=2.5
handshader.мягкость\ следа=1.35
handshader.размытие\ руки=3.0
handshader.размытие\ следа=1.55
handshader.режим=Дым
handshader.сила\ размытия=2.5
handshader.скорость=1.15
hitaura=false
hitaura\#bind=82
hitaura\#bindmode=TOGGLE
hitaura.fov=180.0
hitaura.дилей=Статичный
hitaura.дополнительные\ настройки=Расширенная настройки для атаки\=true,Умные криты\=true,Увеличенная дистанция удара\=false,Приоритет ближайшей цели\=false
hitaura.конструктор\ ротации=
hitaura.крит\ система=Классика
hitaura.проверки\ до\ удара=Бить через блоки\=false,Бить только оружием\=false,Не бить если кушаешь\=true,Не бить в контейнерах \=true,Ломать щит\=false,Отжим щита\=false
hitaura.радиус\ атаки=3.0
hitaura.радиус\ атаки\ для\ игроков=3.0
hitaura.радиус\ атаки\ для\ мобов=3.0
hitaura.радиус\ обнаружения=1.0
hitaura.режим\ движения=Target
hitaura.режим\ ротации=Legit
hitaura.режим\ снапа=Fast
hitaura.скорость\ legit=0.05
hitaura.угол\ fov=90.0
hitaura.цели=Игроки\=true,Голые\=true,Невидимки\=true,Голые невидимки\=false,NPC\=false,Мобы\=false,Животные\=false,Жители\=false,Друзья\=false,Тиммейты\=false
hud=true
hud\#bind=0
hud\#bindmode=TOGGLE
hud.элементы=ArrayList\=false,WaterMark\=true,InformationHUD\=true,TargetHUD\=true,KeyBindHUD\=true,ArmorHUD\=true,CoolDownsHUD\=false,InventoryHUD\=false,NotificationsHUD\=false
inventorymove=true
inventorymove\#bind=0
inventorymove\#bindmode=TOGGLE
inventorymove.задержка\ закрытия=50.0
inventorymove.режим=FunTime
itemscroller=true
itemscroller\#bind=0
itemscroller\#bindmode=TOGGLE
itemscroller.задержка=0.0
lockslots=true
lockslots\#bind=0
lockslots\#bindmode=TOGGLE
lockslots.работать\ только\ в\ кд=true
lockslots.слоты\:\ =1\=true,2\=false,3\=false,4\=false,5\=false,6\=false,7\=false,8\=false,9\=false
nodelay=true
nodelay\#bind=0
nodelay\#bindmode=TOGGLE
nodelay.лкм=false
nodelay.лкм\ задержка=0.0
nodelay.пкм=false
nodelay.пкм\ задержка=0.0
nodelay.поломка\ блоков=false
nodelay.прыжки=true
nodelay.пузырьки\ опыта=true
nodelay.скорость\ поломки\ блока=0.0
nodelay.скорость\ прыжка=0.0
nopush=true
nopush\#bind=0
nopush\#bindmode=TOGGLE
nopush.blocks=true
nopush.mobs=true
nopush.players=true
noslow=true
noslow\#bind=0
noslow\#bindmode=TOGGLE
noslow.режим=FT
noweb=false
noweb\#bind=0
noweb\#bindmode=TOGGLE
openwalls=false
openwalls\#bind=0
openwalls\#bindmode=TOGGLE
openwalls.дистанция=4.6
potioncombiner=false
potioncombiner\#bind=0
potioncombiner\#bindmode=TOGGLE
potioncombiner.зелье=Сила
potioncombiner.уровень=5.0
potioncombiner.экономия\ опыта=true
pvpsafe=true
pvpsafe\#bind=0
pvpsafe\#bindmode=TOGGLE
pvpsafe.notifications=true
pvpsafe.сервер=FunTime\=true,HolyWorld\=true,SpookyTime\=true,Любой другой\=true
removals=true
removals\#bind=0
removals\#bindmode=TOGGLE
removals.звуки=Взрывы (звук)\=true,Поршни\=false,Вода и лава\=false,Эмбиент (пещеры, мобы)\=false,Порталы (звук)\=false,Маяк\=true,Опыт и уровень\=true,Подбор предметов\=false,Фейерверки (звук)\=false,Нот-блоки\=false,Двери и контейнеры\=false,Гром и молния\=false,Колокол\=false,Тотемы (звук)\=true,Наковальня\=false,Элитра\=false,Боссы (рёв)\=false,Ветрозаряд и Мейс\=false
removals.интерфейс=Диктор\=true,Тосты и ачивки\=false,Анимация тотема\=true
removals.мир\ и\ сущности=Трава\=true,Растения и цветы\=true,Листва\=false,Снег (покров)\=false,Стойки брони\=true,Рамки\=true,Картины\=true,Дроп предметов\=false,Опыт-орбы\=true,Погода (дождь/снег)\=false
removals.не\ скрывать\ карты=true
removals.оверлеи\ экрана=Огонь\=true,Вода\=true,Стена в глазах\=true,Тыква\=true,Порошковый снег\=true,Подзорная труба\=true,Портал\=false,Тошнота (экран)\=false,Виньетка\=true,Тряска от урона\=false
removals.свои\ звуки\ (через\ запятую)=
removals.свои\ частицы\ (через\ запятую)=
removals.частицы=Взрывы\=false,Тотем\=true,Эффекты зелий\=false,Криты и удары\=false,Чары стола\=false,Капли и вода\=false,Редстоун\=false,Дым и огонь\=false,Сердечки и деревня\=false,Порталы (частицы)\=false,Фейерверки (частицы)\=false,Дракон и скалк\=false,Природный эмбиент\=false,Ветрозаряд\=false
removals.эффекты\ и\ туман=Тьма\=true,Слепота\=true,Тошнота (эффект)\=true,Туман\=true,Иконки эффектов\=true
rendertest=false
rendertest\#bind=0
rendertest\#bindmode=TOGGLE
seeinvisibles=true
seeinvisibles\#bind=0
seeinvisibles\#bindmode=TOGGLE
seeinvisibles.прозрачность=1.0
serverhelper=true
serverhelper\#bind=0
serverhelper\#bindmode=TOGGLE
serverhelper.funtime\ твики\ =Отображать время удаление структур\=false,При заходе на анархию писать /event\=false,При надевании элитры писать /fly (доступно от князя)\=false,Рендерить границу мега бульдозера\=false
serverhelper.божья\ аура=-1
serverhelper.взрывная\ трап=-1
serverhelper.взрывная\ штучка=-1
serverhelper.дезориентация=-104
serverhelper.задержка\ прыжка=0.0
serverhelper.задержка\ свапа=100.0
serverhelper.заряд\ ветра=341
serverhelper.определение\ предмета=По атрибуту
serverhelper.остаток\ прочности,\ %=50.0
serverhelper.пласт=-1
serverhelper.прыжок\ зарядом\ ветра=false
serverhelper.пузырьки\ опыта=-1
serverhelper.ротация\ вниз=Тихая
serverhelper.рука\ использования=Основная
serverhelper.серверные\ твики\ =Скип серверных РП\=false,Не ломать инструменты\=true,Автоматически респавнится\=true
serverhelper.скорость\ свапа=Безопасно
serverhelper.снежок\ заморозки=-1
serverhelper.стана=-1
serverhelper.твики\ сервера=FunTime
serverhelper.трап=-1
serverhelper.хорус=86
serverhelper.шалкер=-1
serverhelper.явная\ пыль=-1
spider=false
spider\#bind=0
spider\#bindmode=TOGGLE
swinganimation=false
swinganimation\#bind=0
swinganimation\#bindmode=TOGGLE
swinganimation.z=0.0
swinganimation.z\ левая=0.0
swinganimation.z\ правая=0.0
swinganimation.анимация=Smooth
swinganimation.кривая\ анимации=0.65;0.0;0.35;1.0
swinganimation.левая\ рука=0.0;0.0
swinganimation.менять\ обе\ руки=false
swinganimation.модель\ руки=false
swinganimation.опора\ x=0.0
swinganimation.опора\ y=-0.4
swinganimation.опора\ z=-0.7
swinganimation.отклонение\ x=0.0
swinganimation.отклонение\ y=0.0
swinganimation.отклонение\ z=0.0
swinganimation.поворот\ x=0.0
swinganimation.поворот\ y=0.0
swinganimation.поворот\ z=0.0
swinganimation.позиция\ рук=0.0;0.0
swinganimation.правая\ рука=0.0;0.0
swinganimation.пресет=Свой
swinganimation.размер\ анимации=3.7
swinganimation.размер\ предмета\ слева=1.0
swinganimation.размер\ предмета\ справа=1.0
swinganimation.скорость\ анимации=1.0
swinganimation.только\ аура=false
targetesp=true
targetesp\#bind=0
targetesp\#bindmode=TOGGLE
targetesp.искажение=false
targetesp.партиклы=Звезда\=true,Снежинка\=true,Глов\=false
targetesp.просвечивать=false
targetesp.режим\ картинки=Клиент
targetesp.режим\ кубиков=Новый
targetesp.режим\ призраков=Старый
targetesp.текстура=Призраки
test=false
test\#bind=0
test\#bindmode=TOGGLE
test.boolean=false
test.slider=10.0
velocity=false
velocity\#bind=0
velocity\#bindmode=TOGGLE
velocity.обход=Vanilla
worldtweaks=true
worldtweaks\#bind=0
worldtweaks\#bindmode=TOGGLE
worldtweaks.время\ суток=Фиксированное
worldtweaks.вспышки\ молний=true
worldtweaks.дальность\ тумана=100.0
worldtweaks.плавный\ переход=true
worldtweaks.плотность\ тумана=40.0
worldtweaks.погода=Снег
worldtweaks.сила\ осадков=15.0
worldtweaks.сила\ тумана=100.0
worldtweaks.скорость\ цикла=1.0
worldtweaks.туман=Ваниль
worldtweaks.убрать\ туман\ среды=Вода\=true,Лава\=true,Порошковый снег\=true
worldtweaks.цвет\ тумана=ff7fa8ff
worldtweaks.час=23.5
